body{
	font-family:Arial;
	margin:0;
	padding:0;
	background-color:#e5e6e7;
	height:100%;
	width:100%;
}
a {
	color:black;
}
.primary{
	background-color:#049094 !important;
}
.secondary{
	background-color:#ef8822 !important;
}
.topbar {
	background-color:black;
	height:55px;
	font-size:2em;
	color:white;
	padding:0.2em;
	margin:0;
	font-weight:300;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	z-index: 20;
	line-height:55px;
}
.lowersegments{
	background-color:#e5e6e7;
	margin-top:55px;
	
}
.lowerleft{
	background-color:transparent;
	width:300px;
border-right:1px solid grey;
float:left;
height: 100%;
background-color:#e5e6e7;
}
.lowerleft h2 {
	font-size:22px;
	line-height:22px;
	margin:0;
}
.settingsbar {
	overflow:scroll;
	margin-top:55px;
}
.slefttd{
	width:160px;
}
.scentertd{
	width:70px;
}
.srighttd{
	width:70px;
}
.buttons{
	position:fixed;
	bottom:0px;
	left:0px;
	height:50px;
	width:300px;
	border-top: 1px solid grey;
	border-right: 1px solid grey;
	background-color:#e5e6e7;
	z-index: 20;
}
.lowerright{
	margin-top:55px;
	background-color:transparent;
	float:left;
	background-color:#e5e6e7;
}